/random_notes
/output
/boost_venv
/Graph
/lab_records/*.tak
/lab_records/*.bvh
/Carlo_code
/side_codes
/_pychache_
athlete_maps.txt
training_data/Atleta 1/ignore
training_data/Atleta 3/ignore
training_data/Atleta 6/ignore
training_data/Atleta 7/ignore
training_data/Atleta 8/ignore